.container
	.jumbotron.text-center
		h1 Welcome to Opprt

		p Login or Register with:
		a.btn.btn-default(href='/login')
			span.fa.fa-user
			| &nbsp; Local Login
		a.btn.btn-default(href='/signup')
			span.fa.fa-user
			| &nbsp; Local Signup

				
