.col-sm-6.col-sm-offset-3
	h1
		span.fa.fa-sign-in
		| &nbsp; Login

	include flash

	form(action='/login' method='post')
		.form-group
			label Email
			input.form-control(type='text' name='email' ng-model='user.email')
		.form-group
			label Password
			input.form-control(type='password' name='password' ng-model='user.password')

		a.btn.btn-warning.btn-lg(ng-click='login()') Login

	include logfooter