.col-sm-4.col-sm-offset-4(ng-controller='UsersController')
	h1
		span.fa.fa-sign-in
		| &nbsp; Signup

	include flash

	form(novalidate)
		.form-group
			label Full Name
			input.form-control.opprt-input(type='text' name='name' ng-model='user.name')
		.form-group
			label Email &nbsp; &nbsp;
				span.fa.fa-hand-o-left.text-info
				span
					small.text-info &nbsp; this will be your username
				
			input.form-control.opprt-input(type='email' name='email' ng-model='user.email')
		.form-group
			label Password
			input.form-control.opprt-input(type='password' name='password' ng-model='user.password')

		hr
		.row
			.col-sm-6
				a.btn.btn-block.btn-info(ng-click='showTeamCode()')
					span.text-bold I HAVE A TEAM CODE
			.col-sm-6
				a.btn.btn-block.btn-success(ng-click='showCreateTeam()')
					span.text-bold LETS CREATE MY TEAM
		br
		.form-group.animate-show(ng-show='createNewTeam')
			label Team Name &nbsp; &nbsp;
				span.fa.fa-hand-o-left.text-info
				span
					small.text-info &nbsp; this will create a new team
				
			input.form-control(type='text' name='teamName' ng-model='user.teamName')
		.form-group.animate-show(ng-show='hasTeamCode')
			label Team Invitation Code &nbsp; &nbsp;
				span.fa.fa-hand-o-left.text-danger
				span
					small.text-danger &nbsp; this will add you to an existing team
			input.form-control(type='text' name='teamCode' ng-model='user.teamCode')
		

		a.btn.btn-warning.btn-lg(ng-show='createNewTeam || hasTeamCode' ng-click='submit()') Signup

	hr
	p Already have an account? 
		a(href='/login') Login
	p Or go 
		a(href='/') Home
