doctype html
html(lang=en)
	head
		title='Opprt'
		script(src='/angular.js')
		script(src='/app.js')
		script(src='/users/controller.js')
	body(ng-app='opprt')
		h1 Hola Opprt
		div(ng-controller='UsersController')
			button(ng-click='submit()') Click Me Please!
