/* -- Variables -- */
$opprt-primary-color: #2B445C;
$opprt-accent-color: #AAD911;
$opprt-secondary-color: #21364A;



.square, .btn {
  border-radius: 0px!important;
}

/* -- color classes -- */

.coralbg {
  background-color: $opprt-primary-color;
}

.coral {
  color: $opprt-primary-color;
}

.turqbg {
  background-color: $opprt-accent-color;
}

.turq {
  color: $opprt-accent-color;
}

.white {
  color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */

div {
  &.user-menu-container {
    z-index: 10;
    background-color: #fff;
    margin-top: 20px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity = 97);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    .btn-lg {
      padding: 0px 12px;
    }
    h4 {
      font-weight: 300;
      color: #8b8b8b;
    }
    a, .btn {
      transition: 1s ease;
    }
    .thumbnail {
      width: 100%;
      min-height: 200px;
      border: 0px!important;
      padding: 0px;
      border-radius: 0;
      border: 0px!important;
    }
    .btn-group-vertical {
      display: block;
      > a {
        padding: 20px 25px;
        background-color: $opprt-secondary-color;
        color: white;
        border-color: #fff;
      }
    }
  }
  &.btn-group-vertical > a {
    &:hover {
      color: white;
      border-color: white;
    }
    &.active {
      background: $opprt-accent-color;
      box-shadow: none;
      color: white;
    }
  }
  &.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    div.btn-group-vertical > a.active:after {
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -13px;
      border-left: 0;
      border-bottom: 13px solid transparent;
      border-top: 13px solid transparent;
      border-left: 10px solid $opprt-accent-color;
    }
  }
  &.user-menu-content {
    color: #323232;
  }
}

/* -- Vertical Button Group -- */

/* -- Individual button styles of vertical btn group -- */

/* -- The main tab & content styling of the vertical buttons info-- */

ul.user-menu-list {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
  border: 1px solid #eee;
  > li {
    padding-bottom: 8px;
    text-align: center;
  }
}

div.user-menu div.user-menu-content:not(.active) {
  display: none;
}

/* -- The btn stylings for the btn icons -- */

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
  padding: 20px 25px;
}

.no-pad {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.user-details {
  background: #eee;
  min-height: 333px;
}

.user-image {
  max-height: 200px;
  overflow: hidden;
}

.overview {
  h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
  }
  h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
  }
}

.view {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(70, 216, 210, 0.44);
  width: 100%;
  height: 100%;
  padding: 2%;
  display: none;
  text-align: center;
  color: #fff !important;
  z-index: 2;
  a {
    padding-right: 10px;
    color: #fff;
  }
}

.info {
  display: block;
  padding: 10px;
  background: #eee;
  text-transform: uppercase;
  font-weight: 300;
  text-align: right;
  p {
    margin-bottom: 0;
  }
}

.stats {
  p {
    margin-bottom: 0;
  }
  display: block;
  padding: 10px;
  color: white;
}

.share-links {
  border: 1px solid #eee;
  padding: 15px;
  margin-top: 15px;
}

.square, .btn {
  border-radius: 0px!important;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
  .user-image {
    max-height: 400px;
  }
}